<div class='ui fixed inverted menu'>
  <div class="ui container">
    <a href="#" class="header item">
      Video Game Wiki
    </a>
    <div ui-sref-active="active">
      <a href="#" class="item" ui-sref="home">Home</a>
    </div>
    <div class="ui simple dropdown item">
      Games <i class="dropdown icon"></i>
      <div class="menu">
        <div ui-sref-active="active">
          <a href="#" class="item" ui-sref="home.games">All Games</a>
        </div>
        <div ui-sref-active="active">
          <a href="#" class="item" ui-sref="home.newGame">Add a Game</a>
        </div>
      </div>
    </div>
    <div class="ui simple dropdown item">
      Publishers<i class="dropdown icon"></i>
      <div class="menu">
        <div ng-repeat="publisher in vm.publishers" ui-sref-active="active">
          <a href="#" class="item" ui-sref="home.showPublisher({ id: publisher.id })">{{ publisher.name }}</a>
        </div>
      </div>
    </div>
    <div class="ui simple dropdown item">
      Genres<i class="dropdown icon"></i>
      <div class="menu">
        <div ng-repeat="genre in vm.genres" ui-sref-active="active">
          <a href="#" class="item" ui-sref="home.showGenre({ id: genre.id })">{{ genre.name }}</a>
        </div>
      </div>
    </div>
    <div class="ui simple dropdown item">
      Platforms<i class="dropdown icon"></i>
      <div class="menu">
        <div ng-repeat="platform in vm.platforms" ui-sref-active="active">
          <a href="#" class="item" ui-sref="home.showPlatform({ id: platform.id })">{{ platform.name }}</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='ui main text container'>
  <ui-view></ui-view>
</div>

<div class='ui inverted vertical footer segment'>
  <p>Created by Kerry Dougherty</p>
  <a href="https://github.com/KerryAlsace/video-game-wiki">View on Github</a>
</div>