<div class="ui multiple dropdown">
  <input id="filters" type="hidden" name="filters">
  <i class="filter icon"></i>
  <span class="text">Filter Games</span>
  <div class="menu">
    <div class="header">
      <i class="tags icon"></i>
      Good For:
    </div>
    <div class="scrolling menu">
      <div class="item" ng-repeat="goodfor in vm.goodfors" data-value="{{ goodfor.activity }}">
        {{ goodfor.activity }}
      </div>
    </div>
  </div>
  <button class="ui button" ng-click="vm.filterGamesBy()">
    Filter
  </button>
</div>

<h1 class='ui-header'>{{ vm.header }}</h1>
<div class="ui divided items">
  <div class="item" ng-repeat="game in vm.games track by game.id">
    <div class="content">
      <div class="ui header">
        <a href="#" ui-sref="home.showGame({ id: game.id })">{{ game.title }}</a>
      </div>
      <div class="meta">
        <span class="publisher">{{ game.publisher.name }}  | </span>
        <span class="genre">{{ game.genre.name }}</span>
      </div>
      <div class="description">
        <p>{{ game.description }}</p>
      </div>
      <div class="extra">
        <div class="platform" ng-repeat="platform in game.platforms">{{ platform.name }}</div>
      </div>
    </div>
  </div>
</div>