<h4 class='ui-header'>Games</h4>

<div class='ui-list'>
  <div class='item' ng-repeat="game in vm.games track by game.id">
    <div class='content'>
      <h5 class='ui block header'>{{ game.title }}</h5>
      <div class='description'>
        <h6 ng-if="game.studio">{{ game.publisher.name }}</h6>
        <p ng-if="game.genre">{{ game.genre.name }}</p>
        <p>{{ game.description }}</p>
        <p>Available on: </p>
        <div class='ui-list'>
          <div class='item' ng-repeat="platform in game.platforms">{{ platform.name }}</div>
        </div>
      </div>
    </div>
  </div>
</div>