<h1 class='ui-header'>Games</h1>
<div class="ui divided items">
  <div class="item" ng-repeat="game in vm.games track by game.id">
    <div class="content">
      <div class="ui header">
        <a href="#" ui-sref="home.showGame({ id: game.id })">{{ game.title }}</a>
      </div>
      <div class="meta">
        <span class="publisher">{{ game.publisher.name }}  | </span>
        <span class="genre">{{ game.genre.name }}</span>
      </div>
      <div class="description">
        <p>{{ game.description }}</p>
      </div>
      <div class="extra">
        <div class="platform" ng-repeat="platform in game.platforms">{{ platform.name }}</div>
      </div>
    </div>
  </div>
</div>